<div class="container" ng-controller="HistoryController" ng-init="getClass()">

  <div class="main-manage">
    <!-- Agregar Usuarios form -->

      <h2> Matricular seccion </h2>

        <label class="mylabel" for="user"> Alumno :</label>
      <fieldset>
        <select ng-model="temp.student" ng-options="usuario as usuario.account for usuario in lisUsuario" >
          <option disabled selected value> -- Seleccione la Estudiante -- </option>
        </select>
        <br>
        <label class="mylabel" for="user"> Seccion :</label>
      <fieldset>
        <select ng-model="temp.class_code" ng-options="clase as clase.class_code for clase in lisclase" >
          <option disabled selected value> -- Seleccione la seccion -- </option>
        </select>
        <br>

        <label class="mylabel" for="user"> Año :</label>
        <input type="date" id="user" name="user_username" ng-model ="historial.year" maxlength="15" required minlength="3" required placeholder="El usuario debe tener entre 4 y 15 letras" oninvalid="notsaved=false" >

        <label class="mylabel" for="user"> Semestre :</label>
        <select ng-model="historial.semester"  >
          <option disabled selected value> -- Seleccione la seccion -- </option>
          <option>Semestre 1</option>
          <option>Semestre 2</option>
        </select>

        <label class="mylabel" for="user"> Periodo :</label>
        <select ng-model="historial.period"  >
          <option disabled selected value> -- Seleccione la seccion -- </option>
          <option>Periodo 1</option>
          <option>Periodo 2</option>
        </select>

        <label class="mylabel" for="password">Nota:</label>
        <input type="number" id="password" name="user_password" ng-model ="historial.score" maxlength="3" required minlength="1" placeholder="La contraseña debe tener entre 6 y 15 caracteres" oninvalid="notsaved=false" pattern=".{1}.+">



      </fieldset>
      <p></p>
      <button id="register" class="bform" ng-click="crear_matricula()">Registrar</button>


    <!-- Modificar Usuarios form-->



  </div>
</div>
