<div class="container" ng-controller="HistoryController" ng-init="getClass()">

  <h1>Historial Academico</h1>
  <ul class="nav nav-tabs" ng-init="tab = 1">
    <li role="presentation" class="tab" ng-class="{active: tab==1}" ng-click="tab = 1" ><a> Matricula </a></li>
    <li role="presentation" class="tab" ng-class="{active: tab==2}" ng-click="tab = 2"><a> Ver Historial</a></li>

  </ul>

  <div class="main-manage">
    <!-- Agregar Usuarios form -->
    <form class = "fix " ng-show="tab == 1">
      <h2> Matricular seccion </h2>

      <fieldset>
        <select ng-model="historial.class_code" ng-options="clase as clase.class_code for clase in lisclase" >
          <option disabled selected value> -- Seleccione la seccion -- </option>
        </select>
        <br>

        <label class="mylabel" for="user"> Año :</label>
        <input type="date" id="user" name="user_username" ng-model ="historial.year" maxlength="15" required minlength="3" required placeholder="El usuario debe tener entre 4 y 15 letras" oninvalid="notsaved=false" >

        <label class="mylabel" for="user"> Semestre :</label>
        <select ng-model="historial.semester"  >
          <option disabled selected value> -- Seleccione la seccion -- </option>
          <option>Semestre 1</option>
          <option>Semestre 2</option>
        </select>

        <label class="mylabel" for="user"> Periodo :</label>
        <select ng-model="historial.period"  >
          <option disabled selected value> -- Seleccione la seccion -- </option>
          <option>Periodo 1</option>
          <option>Periodo 2</option>
        </select>

        <label class="mylabel" for="dir">Nota:</label>
        <input type="number" id="dir" name="user_username" ng-model ="historial.score" required minlength="1" required placeholder="La dirección debe tener más de 10 caracteres" oninvalid="notsaved=false" pattern="">



      </fieldset>
      <p></p>
      <button id="register" class="bform" ng-click="crear_matricula()">Registrar</button>
    </form>

    <!-- Modificar Usuarios form-->
    <form ng-show="tab == 2">

      <h2>Modificar Usuarios</h2>

      <fieldset>
        <select ng-model="usuarioSeleccionado" ng-options="usuarios as usuarios.account for usuarios in lisUsuario" >
          <option disabled selected value> -- Seleccione el usuario a modificar -- </option>
        </select>
        <br>

        <label class="mylabel" for="namem">Nombre:</label>
        <input ng-model="usuarioSeleccionado.Firstname" type="text" id="namem" name="user_name" maxlength="35" required minlength="3" required placeholder="El usuario debe tener entre 7 y 35 letras y espacios" pattern="([a-zA-Z]+( [a-zA-Z]+)?){7}( [a-zA-Z]+)?( [a-zA-Z]+)?( [a-zA-Z]+)?">

        <label class="mylabel" for="userm">Apellido:</label>
        <input ng-model="usuarioSeleccionado.Secondname" type="text" id="userm" name="user_username" maxlength="15" required minlength="3" required placeholder="El usuario debe tener entre 4 y 15 letras" pattern="[a-zA-Z]{3}[a-zA-Z]+\d*">

        <label class="mylabel" for="passwordm">Numero de cuenta:</label>
        <input ng-model="usuarioSeleccionado.account" type="number" id="passwordm" name="user_password" maxlength="15" required minlength="3" placeholder="La contraseña debe tener entre 6 y 15 caracteres" pattern=".{5}.+">


        <label class="mylabel" for="cel">Celular:</label>
        <input type="text" id="cel" name="user_username" ng-model ="usuarioSeleccionado.cel" required maxlength="8" minlength="8" placeholder="El celular debe tener 8 números Ej. 99889988" pattern="\b\d{4}\d{4}\b">

        <label class="mylabel" for="dirm">Direccion:</label>
        <input ng-model="usuarioSeleccionado.direction" type="text" id="dirm" name="user_username" required minlength="10" required placeholder="La dirección debe tener más de 10 caracteres" pattern=".{9}.+">

        <label class="mylabel" for="idnumm"># Identidad:</label>
        <input ng-model="usuarioSeleccionado.id" type="text" id="idnumm" name="user_username" maxlength="15" required minlength="15" required placeholder="Formato del número de identidad 0000-1234-56789" pattern="\b\d{4}[-]\d{4}[-]\d{5}\b">

        <label class="mylabel" for="nacm">Carrera:</label>
        <input ng-model="usuarioSeleccionado.carrier" type="text" id="nacm" name="usuarioSeleccionado.birth_date" maxlength="15" required minlength="3" required placeholder="Formato de la fecha dd/mm/aaaa Ej. 22/03/1980" pattern="[a-zA-Z]{3}[a-zA-Z]+\d*">


      </fieldset>
      <p></p>

      <button id="register" class="bform" ng-click=" ">Modificar</button>
    </form>

    <!-- eliminar Usuarios form-->



  </div>
</div>
