<div class="container" ng-controller="UsersController" ng-init="getUser()">

  <h1>Manejar Usuarios</h1>
  <ul class="nav nav-tabs" ng-init="tab = 1">
    <li role="presentation" class="tab" ng-class="{active: tab==1}" ng-click="tab = 1" ><a>Crear Usuarios</a></li>
    <li role="presentation" class="tab" ng-class="{active: tab==2}" ng-click="tab = 2"><a>Modificar Usuarios</a></li>
    <li role="presentation" class="tab" ng-class="{active: tab==3}" ng-click="tab = 3"><a>Eliminar Usuarios</a></li>
  </ul>

  <div class="main-manage">
    <!-- Agregar Usuarios form -->
    <form class = "fix " ng-show="tab == 1">
      <h2>Crear un Nuevo Usuario</h2>

      <fieldset>
        <label class="mylabel" for="user">Nombre:</label>
        <input type="text" id="user" name="user_username" ng-model ="usuario.Firstname" maxlength="15" required minlength="3" required placeholder="El usuario debe tener entre 4 y 15 letras" oninvalid="notsaved=false" pattern="[a-zA-Z]{3}[a-zA-Z]*\d*[a-zA-Z]*\d*[a-zA-Z]*\d*">

        <label class="mylabel" for="namem">Contraseña:</label>
        <input ng-model="usuario.password" type="password" id="namem" name="user_name" maxlength="35" required minlength="3" required placeholder="El usuario debe tener entre 7 y 35 letras y espacios" pattern="[a-zA-Z]{3}[a-zA-Z]*\d*[a-zA-Z]*\d*[a-zA-Z]*\d*">

        <label class="mylabel" for="user">Apellido :</label>
        <input type="text" id="user" name="user_username" ng-model ="usuario.Secondname" maxlength="15" required minlength="3" required placeholder="El usuario debe tener entre 4 y 15 letras" oninvalid="notsaved=false" pattern="[a-zA-Z]{3}[a-zA-Z]*\d*[a-zA-Z]*\d*[a-zA-Z]*\d*">

        <label class="mylabel" for="password">Numero de Cuenta:</label>
        <input type="number" id="password" name="user_password" ng-model ="usuario.account" maxlength="15" required minlength="3" placeholder="La contraseña debe tener entre 6 y 15 caracteres" oninvalid="notsaved=false" pattern=".{5}.+">

        <label class="mylabel" for="cel">Celular:</label>
        <input type="text" id="cel" name="user_username" ng-model ="usuario.cel" required maxlength="8" minlength="8" placeholder="El celular debe tener 8 números Ej. 99889988" oninvalid="notsaved=false" pattern="\b\d{4}\d{4}\b">

        <label class="mylabel" for="dir">Direccion:</label>
        <input type="text" id="dir" name="user_username" ng-model ="usuario.direction" required minlength="10" required placeholder="La dirección debe tener más de 10 caracteres" oninvalid="notsaved=false" pattern=".{9}.+">

        <label class="mylabel" for="idnum"># Identidad:</label>
        <input type="text" id="idnum" name="user_username" ng-model="usuario.id" maxlength="15" required minlength="15" required placeholder="Formato del número de identidad 0000-1234-56789" oninvalid="notsaved=false" pattern="\b\d{4}[-]\d{4}[-]\d{5}\b">

        <label class="mylabel" for="user">Carrera:</label>
        <input type="text" id="user" name="user_username" ng-model ="usuario.carrier" maxlength="15" required minlength="3" required placeholder="El usuario debe tener entre 4 y 15 letras y números" oninvalid="notsaved=false" pattern="[a-zA-Z]{3}[a-zA-Z]*\d*[a-zA-Z]*\d*[a-zA-Z]*\d*">

        <div class="role-user">
          <label class="mylabel">Rol:</label> <br>
          <input ng-model="usuario.role" type="radio" id="adm" value="0" ><label class="mylabel" for="adm" class="light"> Administrador</label><br>
          <input ng-model="usuario.role" type="radio" id="emp"  value="1" ><label class="mylabel" for="emp" class="light"> Estudiante </label>
        </div>


      </fieldset>
      <p></p>
      <button id="register" class="bform" ng-click="crear_usuario()">Registrar</button>
    </form>

    <!-- Modificar Usuarios form-->
    <form ng-show="tab == 2">

      <h2>Modificar Usuarios</h2>

      <fieldset>
        <select ng-model="usuarioSeleccionado" ng-options="usuarios as usuarios.account for usuarios in lisUsuario" >
          <option disabled selected value> -- Seleccione el usuario a modificar -- </option>
        </select>
        <br>

        <label class="mylabel" for="namem">Nombre:</label>
        <input ng-model="usuarioSeleccionado.Firstname" type="text" id="namem" name="user_name" maxlength="35" required minlength="3" required placeholder="El usuario debe tener entre 7 y 35 letras y espacios" pattern="([a-zA-Z]+( [a-zA-Z]+)?){7}( [a-zA-Z]+)?( [a-zA-Z]+)?( [a-zA-Z]+)?">

        <label class="mylabel" for="namem">Contraseña:</label>
        <input ng-model="usuarioSeleccionado.password" type="password" id="namem" name="user_name" maxlength="35" required minlength="3" required placeholder="El usuario debe tener entre 7 y 35 letras y espacios" pattern="[a-zA-Z]{3}[a-zA-Z]*\d*[a-zA-Z]*\d*[a-zA-Z]*\d*">

        <label class="mylabel" for="userm">Apellido:</label>
        <input ng-model="usuarioSeleccionado.Secondname" type="text" id="userm" name="user_username" maxlength="15" required minlength="3" required placeholder="El usuario debe tener entre 4 y 15 letras" pattern="[a-zA-Z]{3}[a-zA-Z]+\d*">

        <label class="mylabel" for="passwordm">Numero de cuenta:</label>
        <input ng-model="usuarioSeleccionado.account" type="number" id="passwordm" name="user_password" maxlength="15" required minlength="3" placeholder="La contraseña debe tener entre 6 y 15 caracteres" pattern=".{5}.+">


        <label class="mylabel" for="cel">Celular:</label>
        <input type="text" id="cel" name="user_username" ng-model ="usuarioSeleccionado.cel" required maxlength="8" minlength="8" placeholder="El celular debe tener 8 números Ej. 99889988" pattern="\b\d{4}\d{4}\b">

        <label class="mylabel" for="dirm">Direccion:</label>
        <input ng-model="usuarioSeleccionado.direction" type="text" id="dirm" name="user_username" required minlength="10" required placeholder="La dirección debe tener más de 10 caracteres" pattern=".{9}.+">

        <label class="mylabel" for="idnumm"># Identidad:</label>
        <input ng-model="usuarioSeleccionado.id" type="text" id="idnumm" name="user_username" maxlength="15" required minlength="15" required placeholder="Formato del número de identidad 0000-1234-56789" pattern="\b\d{4}[-]\d{4}[-]\d{5}\b">

        <label class="mylabel" for="nacm">Carrera:</label>
        <input ng-model="usuarioSeleccionado.carrier" type="text" id="nacm" name="usuarioSeleccionado.birth_date" maxlength="15" required minlength="3" required placeholder="Formato de la fecha dd/mm/aaaa Ej. 22/03/1980" pattern="[a-zA-Z]{3}[a-zA-Z]+\d*">

        <div class="role-user">
          <label class="mylabel">Rol:</label> <br>
          <input ng-model="usuarioSeleccionado.role" type="radio" id="adm" value="0" ><label class="mylabel" for="adm" class="light"> Administrador</label><br>
          <input ng-model="usuarioSeleccionado.role" type="radio" id="emp"  value="1" ><label class="mylabel" for="emp" class="light"> Estudiante </label>
        </div>

      </fieldset>
      <p></p>

      <button id="register" class="bform" ng-click="modificar_usuario()">Modificar</button>
    </form>

    <!-- eliminar Usuarios form-->
    <form ng-show="tab == 3">

      <h2>Modificar Usuarios</h2>

      <fieldset>
        <select ng-model="usuarioSelec" ng-options="usuarios as usuarios.account for usuarios in lisUsuario " >
          <option disabled selected value> -- Seleccione el usuario a modificar -- </option>
        </select>
        <br>
      </fieldset>
      <p></p>
      <br>
      <br>
      <br>
      <button id="register" class="bform" ng-click="killUser()">Eliminar</button>
    </form>


  </div>
</div>
